<!-- Footer -->
<footer id="footer" class="sm-padding">
  <!-- Container -->
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="col-md-12">
        <!-- footer logo -->
        <div class="footer-logo">
          <%= link_to root_path do %>
            <%= image_tag 'devden.jpg' %>
          <% end %>
        </div>
        <!-- /footer logo -->

        <!-- footer follow -->
        <ul class="footer-follow">
          <li>
            <%= link_to facebook_url, target: '_blank' do %>
              <i class="fa fa-facebook"></i>
            <% end %>
          </li>

          <li>
            <%= link_to linkedin_url, target: '_blank' do %>
              <i class="fa fa-linkedin"></i>
            <% end %>
          </li>
        </ul>
        <!-- /footer follow -->

        <!-- footer copyright -->
        <div class="footer-copyright">
          <p>Copyright © <%= Date.current.year %>. All Rights Reserved.</p>
        </div>
        <!-- /footer copyright -->
      </div>
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->
</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->
