<p>Hi, Ahmed</p>

<p> You got new enquiry from <b><%= @enquiry.email %></b>. Message details are following </p>

<p>Email: <%= @enquiry.email %></p>

<p>Project Title: <%= @enquiry.project_title %></p>

<p>Project Budget: <%= @enquiry.project_budget %></p>

<p>Projct Description: </p>

<p><%= @enquiry.project_description %></p>
